/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/src/main/java/com/bagile/gmo/dto/EmsDto.java.orig
/.vscode/settings.json
/src/main/resources/application.yml
/src/main/resources/application.yml
/src/main/java/com/bagile/gmo/config/DBConfig.java
/src/test/java/com/bagile/gmo/services/BadgeServiceTest.java
/src/test/java/com/bagile/gmo/services/BadgeTypeServiceTest.java
/src/test/java/com/bagile/gmo/services/ContactServiceTest.java
/src/test/java/com/bagile/gmo/services/DriverServiceTest.java
/src/test/java/com/bagile/gmo/services/MaintenacneStateServiceTest.java
/src/test/java/com/bagile/gmo/services/MaintenancePlanServiceTest.java
/src/test/java/com/bagile/gmo/services/MaintenanceTypeServiceTest.java
/src/test/java/com/bagile/gmo/services/VacationServiceTest.java
/src/test/java/com/bagile/gmo/services/VacationTypeServiceTest.java
/src/test/java/com/bagile/gmo/services/VehicleCategoryServiceTest.java
/src/test/java/com/bagile/gmo/services/VehicleServiceTest.java
/src/test/java/com/bagile/gmo/services/DriverServiceTest.java.orig
/src/test/java/com/bagile/gmo/services/VehicleServiceTest.java.orig
