spring:
  datasource:
    tomcat:
      test-while-idle: true
      validation-query: SELECT 1
  jpa:
    hibernate:
      ddl-auto: update

    show-sql: false
    generate-ddl: true
    database: postgresql
    properties:
      hibernate:
        default_schema: schema_emstms
        format_sql: false
        generate_statistics: false
        dialect: org.hibernate.dialect.PostgreSQLDialect
server:
  port: 8086
