spring:
  datasource:
    tomcat:
      test-while-idle: true
      validation-query: SELECT 1
  jpa:
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        implicit-strategy: org.springframework.boot.orm.jpa.hibernate.SpringImplicitNamingStrategy
    generate-ddl: true
    database: postgresql
    properties:
      hibernate:
        enable_lazy_load_no_trans: true
        default_schema: schema_tmsvoieexpress
        dialect: org.hibernate.dialect.PostgreSQLDialect

  jackson:
    serialization:
      fail-on-empty-beans: false

  servlet:
    multipart:
      max-request-size: 25MB
      max-file-size: 10MB

  main:
    allow-bean-definition-overriding: true

server:
  port: 8080
  servlet:
    context-path: /tms-rest

security:
  jwt:
    secret: change-this-to-a-very-long-secret-with-at-least-32-chars
    expiration-ms: 3600000


#logging:
#  pattern:
#    console: "%d %-5level %logger : %msg%n"
#    file: "%d %-5level [%thread] %logger : %msg%n"
#  level:
#    com.howtodoinjava: DEBUG
#    org.springframework.transaction: DEBUG
#    org.hibernat: DEBUG
#    org.hibernate.SQL: debug
#    org.hibernate.type.descriptor.sql: trace